{% extends "appv/index.html" %}; {% load static %}

{% block title %} Titulo {% endblock title %} 

{% block contenidoQueCambia %}
<div class="card mb-4">
    <div class="card-header">Confirmación de eliminación</div>
    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            <p>¿Estás seguro que deseas eliminar la entrada <strong>{{ entrada.titulo }}</strong>?</p>

            <div class="d-flex justify-content-between">
                <!-- Botón para confirmar la eliminación -->
                <input type="submit" value="Eliminar" class="btn btn-primary">

                <!-- Botón para cancelar y volver sin eliminar -->
                <a href="{% url 'list' %}" class="btn btn-primary">Volver</a>
            </div>
        </form>
    </div>
</div>

{% endblock contenidoQueCambia %}
