{% extends "appv/index.html" %}; {% load static %}

{% block title %} Titulo {% endblock title %} <!--titulo propio de la clase-->

{% block contenidoQueCambia %} 
    <!-- Featured blog post-->
    {% for entrada in object_list %}
    <div class="card mb-4">

        
        <a href="#!">
            {% if entrada.imagen %}
            <img src="{{ entrada.imagen.url }}" alt="{{ entrada.titulo }}" class="card-img-top" />   
            
            {% else %}
                <header class="card-img-top header-background2"></header>
            {% endif %}
        </a>  

        
        <div class="card-body">
            <div class="small text-muted">{{ entrada.fecha }}</div>
            <h2 class="card-title">{{ entrada.titulo }}</h2>
            <p class="card-text">{{ entrada.subtitulo }}</p>
            <a class="btn btn-primary" href="{% url 'detail' entrada.id %}">Leer mas →</a>
            {% if user.is_superuser %}
            <a class="btn btn-primary" href="{% url 'edit' entrada.id %}">Editar →</a>
            <a class="btn btn-primary" href="{% url 'delete' entrada.id %}">Eliminar →</a>
            {% endif %}
        </div>
    </div> 
    {% endfor %}


{% endblock contenidoQueCambia %}
