{% extends "appv/index.html" %}; {% load static %}

{% block title %} Iniciar sesion {% endblock title %} 

{% block contenidoQueCambia %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h3>¡Gracias por usar Star Blog!</h3>
                </div>
                <div class="card-body text-center">
                    <p>¡Volve pronto!.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
                    <a href="{% url 'register' %}" class="btn btn-secondary">Crear cuenta</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenidoQueCambia %}
